.general-button {
    /* Box Model */
    border-radius: 3px;

    /* Positioning */

    /* Styling */
    border: none;
    background-color: rgb(215, 215, 215);
}

#header {
    /* Box Model */
    display: flex;

    /* Styling */
    border-bottom: 2px solid black;
}

#header h1 {
}

#results-text-box {
}
